.container {
  background: black;
  height: auto;
  overflow: hidden;
  min-width: 100%;
}

.star {
  color: white;
  background-image: url("../img/space.jpg");
  background-size: cover;
  height: 1333.333px;
  width: auto;
  background-color: black;
  background-repeat: repeat;
  background-position: left bottom;
  animation: $a-stars;
}

.box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  .item2 {
    animation: $a-astronaut;
    align-self: flex-start;
  }

  .item2 {
    animation: $a-astronaut;
    align-self: flex-end;

    .astronaut {
      animation: $a-float;
      background: transparent;
      height: auto;
      margin: auto;
      width: 100%;
      color: #fff;

      img {
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
      }
    }
  }
}

h1 {
  padding: 1em;
  font-family: "Electrolize", Times, serif;
  text-transform: uppercase;
  display: block;
  text-shadow: 0 0 80px white,0 0 40px white,0 0 5px white;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  text-align: center;

  span:nth-of-type(3) {
    animation: bulb1 11s linear infinite;
  }

  span:nth-of-type(2) {
    animation: bulb2 10s linear infinite;
  }

  span:nth-of-type(1) {
    animation: bulb2 20s linear infinite;
  }
}
