#container {
  background: black;
  height: auto;
  overflow: hidden;
  min-width: 100%;
  padding: 0;
}

#backgroundimage {
  background-size: contain;
  height: 100vh;
  width: auto;
  background-color: black;
  background-repeat: repeat;
  background-position: left bottom;
  animation: $a-back;
}

#item {
  width: 100%;
  text-align: center;
  margin: auto;
  animation: $a-item;
  color: #fff;

  img {
		vertical-align: top;
    animation: $a-float;
    max-width: 10rem;
  }
}

h1 {
  padding: 1em;
  font-family: "Electrolize", Times, serif;
  text-transform: uppercase;
  text-shadow: 0 0 80px white,0 0 40px white,0 0 5px white;
  text-align: center;

  span:nth-of-type(3) {
    animation: bulb1 11s linear infinite;
  }

  span:nth-of-type(2) {
    animation: bulb2 10s linear infinite;
  }

  span:nth-of-type(1) {
    animation: bulb2 15s linear infinite;
  }
}

.modal-content{
	color:black;
}

.modal-header, .modal-footer{
	width:100%;
	padding:1em;
	text-align: left;
	margin:auto;
}

.modal-footer>button{
	width: 100%;
	padding:.5em;
	margin:.5em;
}
