//-380px clouds
//-680px stars

@keyframes back1 {
	from { background-position: 0 0; }
 	to { background-position: 0 -380px; }
	}

@keyframes back2 {
	from { background-position: 0 0; }
 	to { background-position: 0 -680px; }
	}

$a-back1: back1 20s linear infinite;
$a-back2: back2 20s linear infinite;

@keyframes float {
   0%, 100% {transform:translate(0%,0%);}
   50% {transform:translate(0%,40%);}
}
$a-float: float 10s infinite;

@keyframes item {
	0%, 100% {transform: scale(.5,.5);}
	50% {transform: scale(1,1);}
}
$a-item: item 50s infinite;

@keyframes bulb1 {
	0%,19.999%,22%,62.999%,64%, 64.999%,70%,100% {
  	opacity:.99; text-shadow: 0 0 80px white,0 0 30px white,0 0 6px white;
  }
  20%,21.999%,63%,63.999%,65%,69.999% {
    opacity:0.4; text-shadow: none;
  }
}

@keyframes bulb2 {
	0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
		opacity:0.99; text-shadow: 0 0 80px white,0 0 30px white,0 0 6px white;
	}
	19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% {
		opacity:0.4; text-shadow: none;
	}
}
